body {
    background-color: #fef3c7;
}

h1 {
   color: #92400e;
   font-weight: bold;
}

#game__board {
   display: flex; 
   flex-direction: column;
   justify-content: center;
   margin-left: 25%;
   margin-right: 25%; 
   align-items: center;
   border: 1px solid grey;
   box-shadow: 1px 1px grey;
}


.div__player {
    display: flex;
    flex-direction: row;
    color: #92400e;
    font-weight: 600;
}

.player__name {
    margin-right: 2px;
}

#turn {
    color: #92400e;
    font-weight: 600;
}

@media (max-width: 480px) {
    #game__board > h1 {
        font-size: 1em;
    }

}

@media (min-width: 481px) and (max-width: 1024px){
    #game__board > h1 {
        font-size: 1.5em;
    }
}
